[Desktop Entry]
Name=Oficina
GenericName=Oficina
Comment=Mechanical Workshop Application
Exec=Oficina
Icon=Oficina
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;




